@import "tailwindcss";

body{
  box-sizing: border-box;
}

.active{
  background-color: rgb(74, 228, 87);
  padding: 4px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  width: 100%;
}

.hover {
  background-color: gainsboro;
}

input, textarea{
  border-radius: 6px;
  border: 1px solid rgb(199, 192, 192);
  padding: 5px;
  margin: 5px 0;
}
label{
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  color: rgb(33, 104, 30)
}
