@import "tailwindcss";

body{
  box-sizing: border-box;
}

.active{
  background-color: rgb(74, 228, 87);
  padding: 4px;
  border-radius: 6px;
  color: white;
  font-weight: 200;
  width: 100%;
}

input, textarea{
  border-radius: 6px;
  border: 1px solid rgb(199, 192, 192);
  padding: 5px;
  margin: 5px 0;
}
